<div class="form-horizontal col-md-8 col-xs-12 col-md-offset-2">
  

  <div class="input">
    <%= form_for @input_content do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: 'form-control', raw: 3, placeholder: '(本文は１４０字以内で投稿)'  %>
      </div>
      <div class="actions">
        <%= f.submit '投稿', class:'btn btn-primary post' %>
      </div>
    <% end %>
  </div>
    
  <div class="tweet_list">
    <% @tweets.each do |t| %>
      <div class="per <%= 'mine' if t.user.id == current_user.id %>">
        <p class="image clearfix">
          <% if t.user.image? %>
            <%= image_tag t.user.image.url %>
          <% end %>
        </p>
          
        <div class="tweet_info">
          <p class="name">
            @<%= t.user.name %>
          </p>
          <p class="datetime">
            <%=l t.created_at, format: :default, class: 'datetime' %>
          </p>
        </div>
          <!--<p class="content_main">-->
            <%= simple_format t.content, class:'content' %>
          <!--</p>-->
        <!--</div>-->
      </div>
    <% end %>
  </div>
</div>
